body {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


#container {
    display: flex;
    width: 608px;
    height: 608px;
    flex-wrap: wrap;

}

.box {

    border: 1px solid rgb(0, 0, 0, 0.25);
    box-sizing: border-box;
}

.box:hover {
    height: calc(600px/16);
    width: calc(600px/16);
    border: 1px solid rgb(0, 0, 0, 0.25);
    box-sizing: border-box;
    background-color: aqua;
}

#color-chooser {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 30rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

#color-chooser button.unpressed {
    flex: 1 1 auto;
    margin: 1rem;
    background-color: #0000;
    border: 2px solid #000;
}

#color-chooser button.pressed {
    flex: 1 1 auto;
    margin: 1rem;
    border: 2px solid #000;
}

button#reset {
    background-color: #0000;
    border: 2px solid #000;

}